.gwt-RootLayoutPanel{
	color: #39ad7d;
}

.gwt-LayoutPanel{
	margin: center;
	text-align: center;
	color: #39ad7d;
}

.gwt-DecoratorPanel{
	height: 100%;
	width: 100%;
	margin: 0 auto;
    border: 3px inset #2b425d;
	background: #223242;
}

.gwt-DecoratorPanel .middle{
	margin: 0 auto;
	text-align: 0 auto;
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: 0 auto;
}

.gwt-DecoratorPanel .middleCenterInner { 
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: 0 auto;
}

.vpTable{
	margin: 0 auto;
	text-align: 0 auto;
}

.menuButton{
	height: 35px;
    width: 300%;
	margin: 40% auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	color: #CECFE5;

	background: #3F4D5A;
    font-size: 9pt;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
}

.helpButton {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  color: #A5C6FF;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #3f4d5a;
}